#NautilusPathBar {
  box-shadow: inset 0 0 0 1px @borders;
}

#NautilusPathButton:not(:hover):not(:drop(active)),
#NautilusPathButton.current-dir:not(:drop(active)) {
  box-shadow: none;
}

#NautilusQueryEditorTag {
  box-shadow: inset 0 0 0 1px @borders;
}

.disk-space-free {
  color: alpha(currentColor, 0.3);
}
