---
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
AlignOperands: Align
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
BinPackParameters: false
BreakBeforeBraces: Allman
ColumnLimit: 0
IndentWidth: 4
InsertNewlineAtEOF: true
LineEnding: LF
ReflowComments: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Custom
ExperimentalAutoDetectBinPacking: true
PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakOpenParenthesis: 1000
PointerAlignment: Right
SeparateDefinitionBlocks: Always
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
  BeforeNonEmptyParentheses: true
SpacesBeforeTrailingComments: 1
SpacesInParens: Never
WhitespaceSensitiveMacros:
  - _
  - N_
  - C_
AlwaysBreakAfterReturnType: AllDefinitions
SpaceAfterCStyleCast: true


BreakArrays: true