/scripts                       export-ignore
/git.mk                        export-ignore
/.gitattributes                export-ignore
/.gitmodules                   export-ignore
/nautilus.doap                 export-ignore
/.buildconfig                  export-ignore
/OVERVIEW.md                   export-ignore
/org.gnome.Nautilus.json       export-ignore
/test/file-torture.py          export-ignore
/src/gtk/gtk-code-generator.sh export-ignore
/data/run-uncrustify.sh        export-ignore
/data/uncrustify.cfg           export-ignore
/eel/README.canvas             export-ignore
