/.gitattributes                             export-ignore
/.gitignore                                 export-ignore
/.gitmodules                                export-ignore
/nautilus.doap                              export-ignore
/docs/Overview.md                           export-ignore
/test/file-torture.py                       export-ignore
/src/gnome-desktop/gnome-desktop-update.sh  export-ignore
/src/gtk/gtk-code-generator.sh              export-ignore
/data/run-uncrustify.sh                     export-ignore
/data/uncrustify.cfg                        export-ignore
/build-aux/make_release.sh                  export-ignore
