*.o
.deps
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/.flatpak-builder
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/ar-lib
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/data/Makefile.in
/data/icons/Makefile.in
/depcomp
/docs/Makefile.in
/docs/reference/Makefile.in
/docs/reference/libnautilus-extension/Makefile.in
/eel/Makefile.in
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libgd/Makefile.in
/libnautilus-extension/Makefile.in
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/mkinstalldirs
/nautilus-desktop/Makefile.in
/nautilus-sendto-extension/Makefile.in
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/nautilus.pot
/po/stamp-it
/po/stamp-po
/so_locations
/src/Makefile.in
/stamp-h1
/tags
/test-driver
/test/Makefile.in
/ylwrap
