*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/build
/compile
/config.h
/config.h.in
/config.h.in~
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/m4
/missing
/stamp-h1
/test-driver
