[Desktop Entry]
Name=Nautilus
Name[da]=Nautilus
Comment=Nautilus
Comment[da]=Nautilus filhåndtering og mere
TryExec=run-nautilus
Exec=run-nautilus
Icon=nautilus.png
Terminal=0
Type=Application
