[Desktop Entry]
Name=Nautilus
Name[da]=Nautilus
Name[de]=Nautilus
Name[no]=Nautilus
Name[tr]=Nautilus
Comment=Nautilus
Comment[da]=Nautilus filhåndtering og mere
Comment[de]=Nautilus, ein Dateimanager
Comment[no]=Nautilus skrivebordshåndtering
Comment[tr]=Nautilus dosya,masaüstü ve bilgisayarcýlýk yöneticisi
TryExec=run-nautilus
Exec=run-nautilus
Icon=nautilus.png
Terminal=0
Type=Application
