[Desktop Entry]
Name=Nautilus
Name[pt_BR]=Nautilus
Name[da]=Nautilus
Name[de]=Nautilus
Name[it]=Nautilus
Name[ja]=Nautilus
Name[no]=Nautilus
Name[sv]=Nautilus
Name[tr]=Nautilus
Name[uk]=îÁÕÔ¦ÌÕÓ
Comment=Nautilus
Comment[pt_BR]=Nautilus
Comment[da]=Nautilus filhåndtering og mere
Comment[de]=Nautilus, ein Dateimanager
Comment[it]=Nautilus
Comment[ja]=Nautilus¥Õ¥¡¥¤¥ë¥Ş¥Í¡¼¥¸¥ã
Comment[no]=Nautilus skrivebordshåndtering
Comment[sv]=Filhanteraren Nautilus
Comment[tr]=Nautilus dosya,masaüstü ve bilgisayarcılık yöneticisi
Comment[uk]=îÁÕÔ¦ÌÕÓ
TryExec=run-nautilus
Exec=run-nautilus
Icon=nautilus-launch-icon.png
Terminal=0
Type=Application
