.nautilus-empty-state-icon {
    opacity: 0.50;
}

/* Toolbar */

/* Here we use the .button background-image colors from Adwaita, but ligthen them,
 * since is not possible to use lighten () in common css. */
@keyframes needs_attention_keyframes {
    0% {background-image: linear-gradient(to bottom, #fafafa, #ededed 40%,  #e0e0e0); border-color: @borders; }
    /* can't do animation-direction, so holding the color on two keyframes */
    30% {background-image: linear-gradient(to bottom, @view_bg_color, @view_bg_color, @view_bg_color); border-color: @window_fg_color; }
    90% {background-image: linear-gradient(to bottom, @view_bg_color, @view_bg_color, @view_bg_color); border-color: @window_fg_color; }
    100% {background-image: linear-gradient(to bottom, #fafafa, #ededed 40%,  #e0e0e0); border-color: @borders; }
}

.nautilus-operations-button-needs-attention {
  animation: needs_attention_keyframes 2s ease-in-out;
}
.nautilus-operations-button-needs-attention-multiple {
  animation: needs_attention_keyframes 3s ease-in-out;
  animation-iteration-count: 3;
}

/* Remove white background and highlight on hover which GTK adds by default
 * to GtkListBox. TODO: Switch to GtkListView and drop this CSS hack. */
.operations-list,
.operations-list > :hover {
  background: none;
}

/* Path bar */

.nautilus-path-bar > scrolledwindow {
  margin: 6px 0px 6px 0px;
  background-color: alpha(currentColor, 0.1);
}

.nautilus-path-bar scrolledwindow:dir(ltr),
.nautilus-path-bar scrolledwindow:dir(ltr) undershoot.left {
  border-radius: 6px 0px 0px 6px;
}

.nautilus-path-bar scrolledwindow:dir(rtl),
.nautilus-path-bar scrolledwindow:dir(rtl) undershoot.right {
  border-radius: 0px 6px 6px 0px;
}

/* Linked look */
.nautilus-path-bar scrolledwindow:dir(rtl) {
  margin-left: -1px;
}

.nautilus-path-bar scrolledwindow undershoot.left {
  background: linear-gradient(to right, @headerbar_shade_color 6px, alpha(@headerbar_shade_color, 0) 24px);
}
.nautilus-path-bar > scrolledwindow undershoot.right {
  background: linear-gradient(to left, @headerbar_shade_color 6px, alpha(@headerbar_shade_color, 0) 24px);
}

.path-buttons-box button {
  margin: 3px;
  box-shadow: none;
  border-radius: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-width: 0px;
  -gtk-icon-shadow: none;
}

.path-buttons-box button:not(:hover),
.path-buttons-box button.current-dir
{
  background: none;
}

.path-buttons-box button:not(.current-dir):not(:backdrop):hover label {
  opacity: 1;
}

/* Floating status bar */
.floating-bar {
  padding: 3px;
  background-color: @view_bg_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: @borders;
  border-radius: 8px 0 0 0;
}

.floating-bar.bottom.left { /* axes left border and border radius */
  border-left-style: none;
  border-top-left-radius: 0;
}
.floating-bar.bottom.right { /* axes right border and border radius */
  border-right-style: none;
  border-top-right-radius: 0;
}

.floating-bar:backdrop {
  background-color: @view_bg_color;
  border-color: @unfocused_borders;
}

.floating-bar button {
  padding: 0px;
}

@define-color disk_space_unknown #888a85;
@define-color disk_space_used #729fcf;
@define-color disk_space_free #eeeeec;

.disk-space-display {
    border-style: solid;
    border-width: 2px;
}

.disk-space-display.unknown {
    background-color: @disk_space_unknown;
    border-color: shade(@disk_space_unknown, 0.7);
    color: @disk_space_unknown;
}
.disk-space-display.unknown.border {
    color: shade(@disk_space_unknown, 0.7);
}

.disk-space-display.used {
    background-color: @disk_space_used;
    border-color: shade(@disk_space_used, 0.7);
    color: @disk_space_used;
}
.disk-space-display.used.border {
    color: shade(@disk_space_used, 0.7);
}

.disk-space-display.free {
    background-color: @disk_space_free;
    border-color: shade(@disk_space_free, 0.7);
    color: @disk_space_free;
}
.disk-space-display.free.border {
    color: shade(@disk_space_free, 0.7);
}

/* As a workaround for GtkTreeView showing thick border above first row when
 * horizontal grid lines are enabled, we add them using CSS instead. Exclude the
 * drop targets to let through the default feedback style. */
.nautilus-list-view .view:not(:drop(active)) {
    border-bottom: 1px solid @window_bg_color;
}

.search-information {
  background-color: @accent_bg_color;
  color:white;
  padding:2px;
}

.conflict-row {
    background: @warning_bg_color;
    color: @warning_fg_color;
}

/* Grid view */
.nautilus-grid-view gridview {
  padding: 15px;
}

.nautilus-grid-view gridview > child {
  padding: 6px;
}

.nautilus-grid-view .thumbnail {
  background-color: @shade_color;
  box-shadow: 0px 1px 2px 0px @shade_color,
              0px 0px 0px 1px @shade_color,
              0px 2px 0px 0px @shade_color;
  border-radius: 2px;
}

.nautilus-grid-view .cut {
  opacity: 0.55;
}
