label.encrypted_zip {
    background-image: -gtk-icontheme('system-lock-screen-symbolic');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-right: 22px;
}
