Essential Packages:GConf:0.5.msM31:3:i386:0:Stuff
Essential Packages:GConf-devel:0.5.msM31:3:i386:0:Stuff
Essential Packages:ORBit:0.5.1.msM31:2:i386:0:Stuff
Essential Packages:ORBit-devel:0.5.1.msM31:2:i386:0:Stuff
Essential Packages:bonobo:0.15.msM31:prw2:i386:0:Stuff
Essential Packages:bonobo-devel:0.15.msM31:prw2:i386:0:Stuff
Essential Packages:control-center:1.2.0.msM31:2:i386:0:Stuff
Essential Packages:control-center-devel:1.2.0.msM31:2:i386:0:Stuff
Essential Packages:eog:0.3.msM31:2:i386:0:Stuff
Essential Packages:gdk-pixbuf:0.8.0.msM31:3:i386:0:Stuff
Essential Packages:gdk-pixbuf-devel:0.8.0.msM31:3:i386:0:Stuff
Essential Packages:gnet:1.0.3.msM31:1:i386:0:Stuff
Essential Packages:gnet-devel:1.0.3.msM31:1:i386:0:Stuff
Essential Packages:gnome-print:0.20.msM31:1:i386:0:Stuff
Essential Packages:gnome-print-devel:0.20.msM31:1:i386:0:Stuff
Essential Packages:gnome-vfs:0.1.msM31:3:i386:0:Stuff
Essential Packages:gnome-vfs-devel:0.1.msM31:3:i386:0:Stuff
Essential Packages:gtkhtml:0.4.msM31:2:i386:0:Stuff
Essential Packages:gtkhtml-devel:0.4.msM31:2:i386:0:Stuff
Essential Packages:libghttp:1.0.7.msM31:1:i386:0:Stuff
Essential Packages:libghttp-devel:1.0.7.msM31:1:i386:0:Stuff
Essential Packages:nautilus:0.1.0:prw2:i386:0:Stuff
Essential Packages:nautilus-devel:0.1.0:prw2:i386:0:Stuff
Essential Packages:oaf:0.3.0.msM31:2:i386:0:Stuff
Essential Packages:oaf-devel:0.3.0.msM31:2:i386:0:Stuff
