@define-color cluebar_color #729fcf;

* {
    -NautilusIconContainer-selection-box-rgba: @selected_bg_color;
    -NautilusIconContainer-dark-info-rgba: shade (@selected_bg_color, 0.6);
    -NautilusIconContainer-light-info-rgba: shade (@selected_fg_color, 0.6);
}

NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
    background-color: @cluebar_color;
    border-color: darker (@cluebar_color);

    border-radius: 0;
    border-width: 1;
    border-style: solid;
}

NautilusSearchBar .entry {
    -GtkEntry-inner-border: 1;
}

.nautilus-cluebar-label {
    font: bold;
    color: @theme_base_color;
}


#nautilus-search-button:active,
#nautilus-search-button:active:prelight {
    color: darker (@cluebar_color);
}

#nautilus-tab-close-button {
    -GtkWidget-focus-padding : 0;
    -GtkWidget-focus-line-width: 0;
    xthickness: 0;
    ythickness: 0;
}

NautilusFloatingBar {
    background-color: shade (@theme_base_color, 0.95);
    border-color: darker (shade (@theme_base_color, 0.95));
    border-radius: 2;
    border-width: 1;

    padding: 0;
}

NautilusFloatingBar > GtkBox > GtkButton {
    background-color: alpha (@theme_base_color, 0.0);
    background-image: none;
    border-style: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

