
GtkTreeView.NautilusSidebar {
    background-color: #f6f6f4;
}

#statusbar-no-border {
    -GtkStatusbar-shadow-type: none;
}

#nautilus-extra-view-widget {
    background-color: #a7c6e1;
}

#nautilus-tab-close-button {
    -GtkWidget-focus-padding : 0;
    -GtkWidget-focus-line-width: 0;
    xthickness: 0;
    ythickness: 0;
}
