@define-color cluebar_color #729fcf;

* {
    -NautilusIconContainer-selection-box-rgba: @selected_bg_color;
}

NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
    background-color: @cluebar_color;
    border-color: darker (@cluebar_color);

    border-radius: 0;
    border-width: 1;
    border-style: solid;
}

NautilusSearchBar .entry {
    -GtkEntry-inner-border: 1;
}

.nautilus-cluebar-label {
    font: bold;
    color: @theme_base_color;
}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight {
    color: darker (@cluebar_color);
}

#nautilus-tab-close-button {
    -GtkWidget-focus-padding : 0;
    -GtkWidget-focus-line-width: 0;
}

NautilusFloatingBar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@notebook_tab_gradient_a, 0.97)),
                                     to (shade (@notebook_tab_gradient_b, 0.90)));
    border-color: shade (@notebook_tab_gradient_b, 0.80);
    border-radius: 1;
    border-width: 1;
}

NautilusFloatingBar > GtkBox > GtkButton {
    background-color: alpha (@theme_base_color, 0.0);
    background-image: none;
    border-style: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

NautilusWindow .sidebar .frame {
    border-width: 1 0 0 0;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.66);
    border-radius: 0;
}

NautilusWindow > GtkTable > .pane-separator {
    border-width: 1 1 0 0;
    border-style: solid;
    border-color: shade (@theme_bg_color, 0.66);
}
