.dirstamp
/nautilus
/nautilus-autorun-software
/nautilus-enum-types.c
/nautilus-enum-types.h
/nautilus-freedesktop-generated.c
/nautilus-freedesktop-generated.h
/nautilus-generated.c
/nautilus-generated.h
/nautilus-resources.c
/nautilus-resources.h
/nautilus-shell-search-provider-generated.c
/nautilus-shell-search-provider-generated.h
